
    body { 
        font-family: Arial, sans-serif;
         text-align: center;
         background-color: #f5dca3;
         }
    .container { 
        max-width: 300px;
         margin: 200px;
          padding: 20px; 
          border: 3px solid #050504;
          background-color: #ceeff5;
          
         }
    input, button { 
        display: block; 
        width: 100%; 
        margin: 10px 0; 
        padding: 10px; }

    .login{
        border: 1px solid #060606;
        background-color: rgb(241, 180, 219);
        font-family:'Times New Roman', Times, serif

        }
